services:
    php-arb:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_ENV: ${APP_ENV}
        environment:
            APP_ENV: ${APP_ENV}
        volumes:
            - ./:/var/www/arb
        networks:
          - internal_sync_network
#        For prod
#        command: composer run-script serve

    postgres-arb:
      image: postgres:16
      environment:
        POSTGRES_DB: ${DB_DATABASE:-arb}
        POSTGRES_USER: ${DB_USERNAME:-postgres}
        POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      volumes:
        - postgres_data:/var/lib/postgresql/data
      ports:
        - "5432:5432"
      networks:
        - internal_sync_network
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME:-postgres}" ]
        interval: 10s
        timeout: 5s
        retries: 3

    redis-arb:
      image: redis:7.0.7
      networks:
        - internal_sync_network
      volumes:
        - redis_data:/data
      ports:
        - "6379:6379"

volumes:
  postgres_data:
  redis_data:

networks:
  internal_sync_network:
    driver: bridge
    external: true
    name: internal_sync_network
